* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: gray;
}

#main {
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

.grid {
    background-color: white;
    width: 640px;
    height: 640px;
    display: grid;
}

#colors {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 90px;
}

.color {
    border: 1px solid lightgray;
    width: 40px;
    height: 40px;
}

#newGridButton {
    margin: 10px;
    align-self: center;
    justify-self: center;
    padding: 10px;
    border-radius: 10px;
}

.highlighted {
    background-color: aqua;
}

@media only screen and (max-width: 645px) {
    #grid {
        width: 320px;
        height: 320px;
        grid-template-columns: repeat(16, 20px);
    }

}